body {
    background-color: rgb(174, 192, 192);
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    visibility: hidden;
}

.header {
    background-color: rgb(125, 153, 196);
    padding: 10px;
    border-radius: 10px;
}

.errorMessage {
    margin-top: 1px;
    color: red;
    height: 5px;
    font-size: 14px;
}

.inputbox {
    border: #7a7fc0 solid 2px;
    background-color: #c2e6fb;
    border-radius: 5px;
    height: 30px;
}

.button-33 {
    background-color: #c2e6fb;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(0, 19, 128);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    border: 0;
    transition: all .2s ease-in-out;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:not(:disabled):hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05);
}

.button-33:disabled {
    background-color: rgb(192, 192, 192);
    box-shadow: none;
    color: grey;
}
.button-33:disabled:hover {
    cursor: default;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.progressGraphContainer {
    background-color: rgb(227, 249, 255);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    transform: scaleY(-1);
    border: rgb(108, 153, 250) 3px solid;
    border-radius: 10px;
}

.xpByTaskContainer {
    background-color: rgb(227, 249, 255);
    border-radius: 10px;
    min-width: 700px;
    padding-left: 10px;
    border: rgb(108, 153, 250) 3px solid;
    position: relative;
}

.xpByTaskInnerContainer {
    position: relative;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.xpByTaskGraphContainer {
    flex: 1;
    overflow-y: scroll;
    width: 700px;
    height: 400px;
    position: absolute;
    top: 0;
}

.userData {
    height: 350px;
    background-color: rgb(227, 249, 255);
    width: 25%;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border: rgb(108, 153, 250) 3px solid;
    border-radius: 10px;
    text-align: center;
}

.auditData {
    height: 350px;
    background-color: rgb(227, 249, 255);
    width: 25%;
    margin-top: 50px;
    border: rgb(108, 153, 250) 3px solid;
    border-radius: 10px;
    text-align: center;
}

.xpDataAndLogout {
    height: 350px;
    background-color: rgb(227, 249, 255);
    width: 25%;
    margin-top: 50px;
    border: rgb(108, 153, 250) 3px solid;
    border-radius: 10px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: rgb(125, 153, 196);
    border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: rgb(79, 108, 151);
}